.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  pointer-events: none;
  /* margin-bottom: 4rem; */
}

.App-header {
  background-color: #5774b4;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.links {
  display: flex;
  /* margin-bottom: 4rem; */
}

.nav{
  /* background: #0b3080; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.App-header-image {
  height: 40rem;
  width: 40rem;
  margin: 0 4rem;
  border-radius: 5rem;
}

.App-link {
  color: #1c92b3;
  margin-left: 3rem;
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
